.heading{
	border: 1px solid rgb(229, 229, 229);
	background-color: white;
	height: 190px;
}

.user-name{
	margin-left: 30px;
}

.profile{
	display: inline-flex;
	justify-content: space-between;
	margin-top: 19px;
  margin-left: 45px;
}

.xp{
	display: inline-flex;
	justify-content: space-around;
}

.nav-tab li:hover{
  border-bottom: 2px solid green;
}

.list{
  margin-left: 45px;
}

