.user{
background-color: rgb(46,204,113);
height: 90px;
width: 200px;
display: inline-flex;
justify-content: space-around;
align-items: center;
color: white;
text-transform: uppercase;

}

.page{
	background-color: white;
	height: 90px;
	width: 1133px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.icons svg{
	margin: 10px;
}

.icons{
	display: inline-flex;
	justify-content: space-between;
}

.input[type="text"]
{
    background: transparent;
    border: none;
    outline: none;
}
