.leftbar{
	background-color: rgb(52, 73, 94);
	width: 200px;
	height: 995px;
	padding: 0;	
}

.sidebar{
	margin-top: 32px;
}

.sidebar p{
	margin-left: 24px;
	color: rgb(149,165,166);
}

.sidebar li {
	cursor: pointer;
	padding: 10px;
	display: inline-flex;
	justify-content: flex-start;
	align-content: center;
	text-transform: uppercase;
}

.sidebar li:hover {
	width: 100%;
	background-color: rgb(36,51,66);
}